<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.store.mapper.CuisineCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.store.entity.CuisineCategory">
        <id column="category_id" property="categoryId" />
        <collection property="cuisineList" column="category_id" select="com.restkeeper.store.mapper.CuisineMapper.selectCuisineByCategoryId"></collection>
    </resultMap>

</mapper>
